<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{{> doctitle}}</title>
    {{#block 'tilbakebetaling/partials/style' }}
    {{/block}}
</head>
<body>
<div id="header">
    <img class="navlogo" src="{{ image "Hvit-resized.png" }}" />
    <h1 class="title">{{> title}}</h1>
</div>
<div class="container">
    <div class="personinfo">
        <div class="persontekst">
            <div class="persontekst__sidetopp">
                <img class="personikon" src="{{ image "Personikon.png" }}" />
                <div class="persontekst__personalia">
                    <p class="navn">
                        {{ navn }}
                    </p>
                    <p class="id">
                        {{ insert_at fnr 6 }}
                    </p>
                </div>
                <div class="sendt">
                    {{# if innsendtDato}}
                        <p>
                            Sendt til NAV<br/>{{ iso_to_nor_datetime innsendtDato }}
                        </p>
                    {{/if}}
                </div>
            </div>

            <p class="header__tittel">
                Gjelder saksnummer
            </p>
            <p>
                {{ saksnummer }}
            </p>

            {{# if tilsvar }}
            <p class="header__tittel">
                Tilsvar
            </p>
            <p>
                {{ tilsvar }}
            </p>
            {{/if}}

            {{# unless tilsvar }}
            <p class="header__tittel">
                Tilsvar
            </p>
            <p>
                Det er ikke innkommet tilsvar fra {{navn}}.
            </p>
            {{/unless}}
        </div>
    </div>
</div>
<div id="footer">
    <span class="soknadsid">{{ soknadsId }}</span>
    <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</div>
</body>
</html>
