{{#eq type "CHECKBOX"}}
    {{#each svar as |s index|~}}
        {{#if checked}}
            <div class="oppsummering__sporsmalscontainer">
                <div class="oppsummering__avkrysset">
                    <img class="checkbox" src="{{ image "Checkboks.png" }}"/>
                    <span class="svar svar--checkbox">{{ spørsmålstekst }}</span>
                </div>
                {{# if undersporsmal }}
                    <div class="oppsummering__undersporsmalsliste">
                        {{# each undersporsmal as |underspm index| ~}}
                            {{> soknad/partials/blokkpartial underspm}}
                        {{/each}}
                    </div>
                {{/if}}
            </div>
        {{/if}}
    {{/each}}
{{/eq}}

{{#eq type "TABELL"}}
    {{#if this.overskrift}}
        <p class="typo-etikett-liten">
            {{ this.overskrift }}
        </p>
    {{/if}}
    {{#if this.undertekst}}
        <p class="undertekst">
            {{ this.undertekst }}
        </p>
    {{/if }}
    <table>
    {{#each tabellrader}}
        <tr>
            <td>
                <p>{{ this.venstretekst }}</p>
                {{#if this.underblokker}}
                    {{#each this.underblokker as |blokk index| ~}}
                        {{> soknad/partials/blokkpartial blokk}}
                    {{/each}}
                {{/if}}
            </td>
            <td><p>{{ this.høyretekst }}</p></td>
        </tr>
    {{/each}}
    </table>
{{/eq}}

{{#eq type "FELT"}}
    <div class="felt">
        <p class="typo-etikett-liten">{{felt}}</p>
        <p class="typo-element-feltoppsummering__verdi">{{verdi}}</p>
    </div>
{{/eq}}

{{#eq type "BULLETPOINT"}}
    <div class="felt">
        <p class="typo-etikett-liten">{{spørsmålstekst}}</p>
        {{#each svar}}
            <p class="typo-element-feltoppsummering__verdi">  – {{svar}}</p>
        {{/each}}
    </div>
{{/eq}}

{{#eq type "FRITEKST"}}
    <p>{{ this.tekst }}</p>
{{/eq}}
